
body, .remover, .buttons-container{
    display: flex;
}

body{
    justify-content: center;
    align-items: center;
    padding: 18px;
}

#calculator-container{
    max-width: 10em;
    max-height: 20em;
    border: 5px brown solid;
}

.display{
    width: 100px;
    height: 50px;
    border: 5px brown solid;
}

.display-work, .display-result{
    height: 25px;
}

.figure-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}